<h1>Children</h1>



<% @children.each do |child| %>

    
   <div class="well"> <%= image_tag child.image_url(:thumb) %>
    <%= child.name %>
    <%= child.total_points %>
    <%= child.date_of_birth %>
    <%= link_to 'Show', child %>
    <%= link_to 'Edit', edit_child_path(child) %>
    <%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>


<br />

<div class="well"><%= link_to 'Add Child', new_child_path %></div>
